# Part A

In [1]:
#Imporing libraries
import os
import pandas as pd
import numpy as np
import statistics as stat
import itertools
from functools import reduce

In [43]:
import session_info
session_info.show()

### Data Preprocessing

In [2]:
#Loading ratings data
baseDir = 'D:\\Recommdar_system\\Assignment1\\ml-latest-small'
ratings_df = pd.read_csv(baseDir+"\\ratings.csv")

ratings_df.head(5)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
# Droping 'timestamp' column
ratings_df.drop('timestamp', inplace=True, axis=1)

ratings_df.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [4]:
#Loading movies data
movies_df = pd.read_csv(baseDir+'\\movies.csv')
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

#### Preproceesing the movie data

In [5]:
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
movies_df['year']

0       (1995)
1       (1995)
2       (1995)
3       (1995)
4       (1995)
         ...
9737    (2017)
9738    (2017)
9739    (2017)
9740    (2018)
9741    (1991)
Name: year, Length: 9742, dtype: object

In [6]:
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)',expand=False)
movies_df['year']

0       1995
1       1995
2       1995
3       1995
4       1995
        ...
9737    2017
9738    2017
9739    2017
9740    2018
9741    1991
Name: year, Length: 9742, dtype: object

In [7]:
movies_df['title']

0                                Toy Story (1995)
1                                  Jumanji (1995)
2                         Grumpier Old Men (1995)
3                        Waiting to Exhale (1995)
4              Father of the Bride Part II (1995)
                          ...
9737    Black Butler: Book of the Atlantic (2017)
9738                 No Game No Life: Zero (2017)
9739                                 Flint (2017)
9740          Bungo Stray Dogs: Dead Apple (2018)
9741          Andrew Dice Clay: Dice Rules (1991)
Name: title, Length: 9742, dtype: object

In [8]:
#Removing the years from the 'title' column
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
movies_df['title']

C:\Users\HP\AppData\Local\Temp\ipykernel_17612\2532954281.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')

0                                Toy Story
1                                  Jumanji
2                         Grumpier Old Men
3                        Waiting to Exhale
4              Father of the Bride Part II
                       ...
9737    Black Butler: Book of the Atlantic
9738                 No Game No Life: Zero
9739                                 Flint
9740          Bungo Stray Dogs: Dead Apple
9741          Andrew Dice Clay: Dice Rules
Name: title, Length: 9742, dtype: object

In [9]:
#Applying the strip function to remove ending whitespace 
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())
movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [10]:
# Drop 'genres' column 
movies_df.drop('genres', inplace=True, axis=1)
movies_df.head()

   movieId                        title  year
0        1                    Toy Story  1995
1        2                      Jumanji  1995
2        3             Grumpier Old Men  1995
3        4            Waiting to Exhale  1995
4        5  Father of the Bride Part II  1995

## Implementing user-based collaborative filtering approach for group

After preprocessing, the process we will follow for creating a User Based recommendation system (group):

* To implement a user based collaborative filtering approach, at first we select a few users. For example, here we choose 3 user having a userId of 100, 200, 300. 
* Based on our selected group rating to movies, have to find the top X neighbours
* Will generate sub dataframes depending on the group's users and sort them, giving precedence to the users who have the most things in common with the group's users.
* Get the watched movie record of the user for each neighbour group.
* Calculate a similarity score using a formula. Here, we will use (Pearson Correlation).
* Recommend the items with the highest score

In [11]:
# Create a group of 3 users: 100, 200 , 300
choosen_group = [55,155,255]

In [12]:
# Getting all the movies for each user of the group as seen or rated
inputMovies=[]

for user in choosen_group:
    user_Id = user
    extracted_movies = ratings_df[ratings_df['userId']== user_Id]
    inputMovies.append(extracted_movies)

In [13]:
for i in range(len(inputMovies)):
    print("Number of movies rated",len(inputMovies[i]))
    print(inputMovies[i].head())

Number of movies rated 25
      userId  movieId  rating
7964      55      186     0.5
7965      55      673     0.5
7966      55     1275     4.0
7967      55     1293     4.0
7968      55     1357     0.5
Number of movies rated 46
       userId  movieId  rating
22638     155        1     3.0
22639     155      141     3.0
22640     155      153     3.0
22641     155      260     4.0
22642     155      333     4.0
Number of movies rated 44
       userId  movieId  rating
37682     255       34     1.0
37683     255      223     2.0
37684     255      344     5.0
37685     255      420     5.0
37686     255      588     2.0

In [14]:
# Finding the useres who rates similar movies as our users of the group

similarTypeOfUsers = []
for i in range(len(inputMovies)):
    similarTypeOfUsers_temp = ratings_df[ratings_df['movieId'].isin(inputMovies[i]['movieId'].tolist())]
    similarTypeOfUsers.append(similarTypeOfUsers_temp)
    
for i in range(len(similarTypeOfUsers)):
    print(similarTypeOfUsers[i].head())

     userId  movieId  rating
39        1      673     3.0
86        1     1275     5.0
118       1     2005     5.0
156       1     2427     5.0
165       1     2542     5.0
    userId  movieId  rating
0        1        1     4.0
15       1      260     5.0
18       1      333     5.0
33       1      592     4.0
92       1     1377     3.0
     userId  movieId  rating
12        1      223     3.0
73        1     1210     5.0
77        1     1220     5.0
85        1     1270     5.0
165       1     2542     5.0

In [15]:
# Creating sub-dataframes based on users of the group

userSubsetGroup = []
for i in range(len(similarTypeOfUsers)):
    userSubsetGroup_temp = similarTypeOfUsers[i].groupby(['userId'])
    userSubsetGroup.append(userSubsetGroup_temp)

In [16]:
# Sortng the dataframe
for i in range(len(userSubsetGroup)): 
    userSubsetGroup[i] = sorted(userSubsetGroup[i], key= lambda x:len(x[1]), reverse = True)
    
# As 1st one is the same as our selected user, let's see the 2nd top user for each user of the group
for i in range(len(userSubsetGroup)):
    print(userSubsetGroup[i][1])

(414,        userId  movieId  rating
62577     414      673     2.0
62770     414     1275     4.0
62780     414     1293     3.0
62796     414     1357     4.0
62947     414     1947     4.0
62966     414     2005     5.0
63013     414     2100     3.0
63073     414     2278     4.0
63109     414     2393     3.0
63121     414     2407     4.0
63133     414     2427     4.0
63156     414     2490     3.0
63166     414     2542     5.0
63176     414     2580     5.0
63225     414     2763     2.0
63261     414     2890     5.0
63321     414     3101     4.0
63379     414     3275     5.0
63573     414     4011     5.0
64374     414    27831     4.0
64404     414    33166     4.0
64502     414    44665     4.0
64562     414    48516     4.5
64643     414    54286     4.0)
(414,        userId  movieId  rating
62294     414        1     4.0
62352     414      141     4.0
62358     414      153     2.0
62410     414      260     5.0
62439     414      333     3.0
62484     414      432     2.0
62552     414      588     4.0
62555     414      592     4.0
62576     414      671     4.0
62725     414     1200     5.0
62784     414     1302     4.0
62805     414     1377     4.0
62842     414     1517     5.0
62848     414     1562     2.0
62851     414     1580     4.0
62930     414     1883     3.0
62939     414     1917     4.0
62944     414     1923     5.0
62957     414     1968     5.0
62980     414     2028     5.0
63097     414     2355     4.0
63160     414     2502     4.0
63188     414     2628     4.0
63213     414     2724     1.0
63276     414     2948     3.0
63280     414     2959     5.0
63307     414     3052     3.0
63327     414     3114     5.0
63342     414     3175     4.0
63448     414     3555     3.0
63452     414     3578     5.0
63460     414     3615     3.0
63463     414     3618     2.0
63494     414     3745     4.0
63512     414     3793     4.0)
(414,        userId  movieId  rating
62315     414       34     5.0
62393     414      223     5.0
62445     414      344     2.0
62477     414      420     2.0
62552     414      588     4.0
62688     414     1079     5.0
62720     414     1194     3.0
62731     414     1210     5.0
62738     414     1220     5.0
62747     414     1234     5.0
62766     414     1270     5.0
62786     414     1304     5.0
62814     414     1394     5.0
62881     414     1663     5.0
62925     414     1863     2.0
62935     414     1907     4.0
62990     414     2064     3.0
63097     414     2355     4.0
63166     414     2542     5.0
63205     414     2706     5.0
63208     414     2716     5.0
63239     414     2804     4.0
63250     414     2858     5.0
63266     414     2915     4.0
63301     414     3037     4.0
63336     414     3157     4.0
63403     414     3396     4.0
63408     414     3421     5.0
63430     414     3504     4.0
63447     414     3552     4.0
63470     414     3671     4.0
63496     414     3751     5.0
63579     414     4018     3.0
63683     414     4361     4.0
63704     414     4467     4.0)

C:\Users\HP\AppData\Local\Temp\ipykernel_17612\2123221467.py:3: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  userSubsetGroup[i] = sorted(userSubsetGroup[i], key= lambda x:len(x[1]), reverse = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_17612\2123221467.py:3: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  userSubsetGroup[i] = sorted(userSubsetGroup[i], key= lambda x:len(x[1]), reverse = True)
C:\Users\HP\AppData\Local\Temp\ipykernel_17612\2123221467.py:3: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  userSubsetGroup[i] = sorted(userSubsetGroup[i], key= lambda x:len(x[1]), reverse = True)

In [17]:
# number of users who rated all or a selection of the movies in the group along with the original user.
for i in range(len(userSubsetGroup)):
    print(len(userSubsetGroup[i]))

345
558
493

We will select a subset of users to iterate through. This limit is imposed because we don’t want to waste too much time going through every single user.

In [18]:
for i in range(len(userSubsetGroup)):
    userSubsetGroup[i] = userSubsetGroup[i][1:101]
    print(len(userSubsetGroup[i]))

100
100
100

In [19]:
# List of correlations of the users of the group
pearsonCorrelation = []

for i in range(len(userSubsetGroup)):
    # Storing the Pearson Correlation in a dictionary, where the key is the user Id and the value is the coefficient
    pearsonCorrelationDict = {}
    
    # Get movies list of a user of the group and sort them by movieId
    temp_inputMovies = inputMovies[i].sort_values(by='movieId')
    
    #For every user group in our subset
    for name, group in userSubsetGroup[i]:
        #Let's start by sorting the input and current user group so the values aren't mixed up later on
        group = group.sort_values(by='movieId')
        #Get the N for the formula
        nRatings = len(group)
        #Get the review scores for the movies that they both have in common
        temp_df = temp_inputMovies[temp_inputMovies['movieId'].isin(group['movieId'].tolist())]
        #And then store them in a temporary buffer variable in a list format to facilitate future calculations
        tempRatingList = temp_df['rating'].tolist()
        #Let's also put the current user group reviews in a list format
        tempGroupList = group['rating'].tolist()
        
#         scipy.stats import pearsonr
#         pearsonr(tempRatingList,tempGroupList)[0]
        #Now let's calculate the pearson correlation between two users, so called, x and y
        Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(nRatings)
        Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(nRatings)
        Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(nRatings)

        #If the denominator is different than zero, then divide, else, 0 correlation.
        if Sxx != 0 and Syy != 0:
            pearsonCorrelationDict[name] = Sxy/np.sqrt(Sxx*Syy)
        else:
            pearsonCorrelationDict[name] = 0                 
    
    pearsonCorrelation.append(pearsonCorrelationDict)

In [20]:
# Inspecting the Correlation Values
for i in range(len(pearsonCorrelation)):
    print(pearsonCorrelation[i].items())
    print(" ")

dict_items([(414, 0.440988931140743), (599, 0.13718452337495202), (68, -0.26128935153535743), (448, 0.48907743623896527), (590, 0.5219354722663045), (28, -0.13633510993198109), (219, 0.33633639699815715), (274, 0.0), (438, 0.6727731263221208), (480, 0.529014483509057), (64, 0.08549369507247383), (182, -0.11345948433149503), (288, -0.05022924559450697), (474, 0.1526704643232989), (608, 0.4483254534703861), (18, 0.7747080984269888), (307, 0.6949387692979541), (380, 0.35661843149344546), (387, 0.567273758346191), (483, 0.6393443138580434), (42, 0.34800887433944544), (177, 0.5514308221712151), (217, 0.04999999999999998), (477, 0.6075727502438608), (561, 0.6291914187186425), (580, 0.454706833791235), (603, -0.1966571461940076), (19, 0.3857122687381099), (140, -0.3948468805000098), (226, 0.576129050610196), (239, 0.8418567021412103), (249, 0.5944400023051198), (45, 0.48617494035064146), (51, -0.06401435500123971), (57, 0.8386278693775346), (305, 0.25474621817335047), (318, 0.5957783116811052), (368, 0), (553, 0.2608557584726882), (597, -0.11878063655295477), (606, 0.0), (232, 0.9098574502141231), (313, 0.8971610618398334), (328, 0.4872583846261384), (352, 0.18434064846013845), (381, 0.7880959276911593), (391, -0.4897639446316852), (425, 0.1778728646558014), (452, 0), (453, 0.05892556509887714), (562, 0.17069718549973004), (600, 0.2539335608730657), (1, 0.5136539681560849), (105, 0.7142857142857143), (111, 0.7246680055421271), (122, 0.44721359549995543), (160, 0.16422569855971142), (199, 0.5282705437953743), (356, 0.11470786693528087), (469, 0.34668762264076824), (555, 0.7957654308222837), (596, -0.26771693063533636), (80, 0.026958193300858132), (91, 0.7494330166358235), (135, 0.5330017908890261), (166, -0.5144957554275221), (195, 0.1182165609358641), (202, 0), (211, 0.3668996928526651), (244, 0.8093702576100407), (254, 0.8427009716003924), (266, 0.0), (275, -0.5476190476190462), (294, 0.4534226563187571), (298, -0.5423261445466405), (301, 0.8580840963623656), (317, 0.9101820546182089), (332, 0.35355339059327373), (354, -0.19462473604038166), (376, 0.70490737685024), (434, 0.5710402407201611), (465, -0.6985354731356997), (517, 0.6556100681071856), (522, 0.5312796481290506), (525, 0.5599326657410997), (528, 0.8191056137587895), (560, 0), (573, -0.3150630189063058), (610, -0.12309149097933475), (27, 0.13245323570650439), (33, -0.21629522817435007), (41, -0.42640143271122083), (63, 0.17407765595569785), (66, 0.5), (88, -0.3333333333333333), (127, 0.381528726074437), (141, -0.2115392598254248), (200, 0.7071067811865475), (203, 0.8926987508818556), (282, 0.9456511980726541)])

dict_items([(414, -0.03016704166456357), (599, 0.11234830900809824), (608, 0.4464873000525622), (182, -0.35700946822620605), (68, 0.19353991202063775), (274, -0.1807943695289911), (19, 0.2040194421185502), (448, -0.20065119361545294), (438, -0.0059714530325015065), (288, 0.15233821244244652), (474, 0.18122313057747283), (480, 0.02663263505755906), (45, 0.09617635677666597), (91, 0.1640089328533903), (483, 0.16610262808732235), (64, -0.026667555600000968), (135, 0.027068534274165196), (177, -0.2386305222485116), (219, -0.02327361260929827), (294, 0.21232847490055148), (380, 0.09303609266337073), (590, -0.12781316401923704), (217, 0.18553546269482724), (226, 0.0033965502454688366), (249, 0.06552389669095791), (292, -0.11507770428376132), (307, -0.21272570488610024), (453, -0.051841896887813044), (555, -0.03853081288900542), (489, -0.36240228455844686), (600, 0.17194120423502907), (42, 0.13880363049242056), (82, 0.6155784217875968), (387, 0.255012178447997), (573, 0.19595922445781527), (57, 0.18093806238429047), (330, -0.017306668274774072), (357, -0.06427693414855262), (381, -0.11177545850247131), (428, 0.3074593469062217), (477, 0.18613560821740763), (580, 0.6242043281306181), (597, -0.1088875997908298), (603, 0.13130643285972154), (66, -0.0863342638298571), (115, 0.3922322702763681), (232, 0.27363506726182774), (298, 0.07002025488571868), (425, 0.1263210740884251), (534, 0.14718657970402424), (610, -0.1418501337756997), (160, 0.0390583283432257), (166, 0.2554811008995225), (234, 0.11198271478632262), (469, 0.08192630912367929), (561, -0.14551153328356364), (596, 0.33167432240867273), (1, 0.1836110532684469), (200, 0.0730151906346974), (266, 0.3077287274483318), (304, 0.29922359520533415), (570, 0.17523075771408575), (132, -0.04902903378454604), (141, 0.0565775956345361), (167, 0.19684609711073023), (201, -0.029119352454923055), (220, -0.142748240915568), (239, 0.12605487102240262), (282, 0.04426338948727969), (313, 0.1322711693170677), (367, -0.0040576717072572455), (391, -0.26257524659082215), (434, -0.3092476283402919), (452, 0.01863066560266416), (21, -0.18999014891433594), (28, 0.17351520648554256), (63, -0.1593117182641018), (169, -0.10170952554311848), (202, -0.13772194464146725), (275, -0.23626546851126032), (318, -0.08969937018449042), (522, 0.6254850496163776), (606, -0.05256464169139807), (122, 0.3293501744756807), (140, 0.31250504434992166), (144, 0.08478078067986326), (328, 0.08036283770445288), (352, -0.042257712736424806), (354, -0.12309149097933332), (368, 0.2977375870413804), (462, -0.3362731070993433), (509, -0.04210162461515163), (525, -0.2011504763745896), (560, 0.4031128874149282), (607, -0.24754698613967707), (7, -0.49668504632441896), (93, 0.7654779007031426), (199, 0.029484118479927376), (230, -0.06481699632345916), (514, -0.025532146059406853)])

dict_items([(414, -0.15876537186631884), (474, -0.5134785674100522), (599, -0.06798354622910109), (288, -0.39131613037521845), (448, -0.15903369229783113), (274, 0.12943393949216694), (480, -0.15124974717134665), (590, 0.013050441999202037), (19, -0.1864371735636732), (68, -0.09209140002574652), (387, -0.1064810821942166), (469, -0.16194449297323646), (597, 0.05722155813738331), (600, -0.0241503343569043), (226, 0.12664729730937654), (275, -0.23283017118688326), (307, 0.0037966046201922017), (380, 0.36033540295281585), (483, -0.39855211716822864), (608, -0.06940857212293995), (603, -0.23127109981361302), (57, 0.0), (64, -0.009753428933010325), (91, -0.019765522235797594), (177, -0.010881987145232417), (182, -0.11638363502517143), (294, 0.5181630580466623), (606, -0.1473092489336707), (45, 0.10766212511753007), (217, -0.10034174388482474), (219, 0.13945285547226813), (298, -0.03214121732666125), (357, -0.08922519239135952), (477, 0.15870727813287117), (555, -0.13968887492256754), (42, -0.31532811194344584), (156, -0.5420832905138223), (202, -0.4868767627029122), (221, 0.0), (305, 0.30867369367292163), (318, 0.037350025608120584), (489, -0.22800307731631594), (514, -0.4247089005150237), (517, -0.1267007244686574), (525, 0.2757762648865382), (610, -0.02432809200504759), (216, -0.6087309419470924), (249, -0.458039194357848), (292, -0.14062274001564312), (381, -0.07229031024024897), (409, -0.3451950832144557), (63, 0.04066871058143144), (140, -0.082295119979782), (313, -0.41633319989322654), (356, 0.008800035143889925), (391, 0.25641417772013864), (462, -0.5894804856190086), (580, 0.38123695375295436), (66, -0.47008806706202677), (84, -0.462497290062881), (132, -0.5484028176193346), (167, 0.13845629524549352), (266, 0.18379072025790774), (282, -0.4915297270954217), (325, -0.05302472412302016), (328, -0.3517010509018139), (428, -0.4170815527619453), (534, -0.07620499280986875), (560, 0.29155897213538184), (561, 0.4131913558824854), (572, -0.7092993656151906), (607, 0.44713624297918636), (89, 0.13346294429968192), (103, -0.30480388023351246), (141, 0.33969976096813814), (169, -0.45292133186427513), (198, -0.19706585563285894), (199, -0.5430753866417045), (220, -0.39320823143969286), (290, -0.7071067811865475), (438, 0.11492582782061388), (452, 0.0), (18, -0.04889990166239666), (51, 0.044075964272125595), (115, 0.15478181111027448), (135, -0.5333964609104425), (137, -0.8565523406097794), (144, -0.10806572394631728), (232, 0.47934892569619), (330, -0.1507673276039321), (425, -0.4062499999999999), (522, -0.07911106124364367), (527, -0.0644156626400831), (21, 0.2889602459083512), (27, -0.183532587096449), (160, -0.4203340008480253), (200, 0.6946160012609885), (354, -0.2773500981126146), (367, 0.4344276873701876), (385, -0.466252404120159)])

In [21]:
pearsonDF =[]
for i in range(len(pearsonCorrelation)):
    pearsonDF_temp = pd.DataFrame.from_dict(pearsonCorrelation[i], orient='index')
    pearsonDF.append(pearsonDF_temp)

# Print
for i in range(len(pearsonDF)):
    print(pearsonDF[i].head())

            0
414  0.440989
599  0.137185
68  -0.261289
448  0.489077
590  0.521935
            0
414 -0.030167
599  0.112348
608  0.446487
182 -0.357009
68   0.193540
            0
414 -0.158765
474 -0.513479
599 -0.067984
288 -0.391316
448 -0.159034

In [22]:
#Similarity score of other similar users to our selected user (100, 200, 300)
for i in range(len(pearsonDF)):
    pearsonDF[i].columns = ['similarityIndex']
    pearsonDF[i]['userId'] = pearsonDF[i].index
    pearsonDF[i].index = range(len(pearsonDF[i]))

# Print
for i in range(len(pearsonDF)):
    print(pearsonDF[i].head())

   similarityIndex  userId
0         0.440989     414
1         0.137185     599
2        -0.261289      68
3         0.489077     448
4         0.521935     590
   similarityIndex  userId
0        -0.030167     414
1         0.112348     599
2         0.446487     608
3        -0.357009     182
4         0.193540      68
   similarityIndex  userId
0        -0.158765     414
1        -0.513479     474
2        -0.067984     599
3        -0.391316     288
4        -0.159034     448

Now let’s get the top users that are most similar to the input

In [23]:
# Top Similar users
topUsers = []
for i in range(len(pearsonDF)):
    topUsers_temp=pearsonDF[i].sort_values(by='similarityIndex', ascending=False)
    topUsers.append(topUsers_temp)
    
# Print
for i in range(len(topUsers)):
    print(topUsers[i].head(5))

    similarityIndex  userId
99         0.945651     282
76         0.910182     317
41         0.909857     232
42         0.897161     313
98         0.892699     203
    similarityIndex  userId
96         0.765478      93
81         0.625485     522
41         0.624204     580
32         0.615578      82
2          0.446487     608
    similarityIndex  userId
96         0.694616     200
26         0.518163     294
88         0.479349     232
71         0.447136     607
98         0.434428     367

The movies that the users in our pearsonDF have watched must first be obtained from the ratings dataframe, and we must then store their correlation in a new column named similarityIndex.

In [24]:
topUsersRating =[]
for i in range(len(topUsers)):
    topUsersRating_temp = topUsers[i].merge(ratings_df, left_on='userId', right_on='userId', how='inner')
    topUsersRating.append(topUsersRating_temp)
    
# Print
for i in range(len(topUsersRating)):  
    print(topUsersRating[i].head())

   similarityIndex  userId  movieId  rating
0         0.945651     282        1     4.5
1         0.945651     282        6     4.0
2         0.945651     282       10     3.5
3         0.945651     282       16     4.0
4         0.945651     282       25     4.0
   similarityIndex  userId  movieId  rating
0         0.765478      93        1     3.0
1         0.765478      93        2     5.0
2         0.765478      93       10     4.0
3         0.765478      93       15     4.0
4         0.765478      93       34     5.0
   similarityIndex  userId  movieId  rating
0         0.694616     200        1     3.5
1         0.694616     200        5     4.0
2         0.694616     200       10     4.5
3         0.694616     200       19     3.5
4         0.694616     200       34     2.5

In [25]:
# Calculating the mean ratings of all the similar users

meanRating = []

for i in range(len(topUsersRating)):
    meanRating_temp = topUsersRating[i].groupby('userId').mean()[['rating']]
    meanRating_temp.columns = ['meanRating']
    meanRating_temp['userId'] = meanRating_temp.index
    meanRating_temp.index = range(len(meanRating_temp))
    
    meanRating.append(meanRating_temp)

# Inspecting...
for i in range(len(meanRating)):
    print(meanRating[i].head())

   meanRating  userId
0    4.366379       1
1    3.732072      18
2    2.607397      19
3    3.548148      27
4    3.020175      28
   meanRating  userId
0    4.366379       1
1    3.230263       7
2    2.607397      19
3    3.260722      21
4    3.020175      28
   meanRating  userId
0    3.732072      18
1    2.607397      19
2    3.260722      21
3    3.548148      27
4    3.565909      42

In [26]:
# Merging the top similar users average rating score 
for i in range(len(topUsersRating)):
    topUsersRating[i] = topUsersRating[i].merge(meanRating[i], left_on='userId', right_on='userId', how='inner')

# Inspecting...  
for i in range(len(topUsersRating)):
    print(topUsersRating[i].head())

   similarityIndex  userId  movieId  rating  meanRating
0         0.945651     282        1     4.5    4.033755
1         0.945651     282        6     4.0    4.033755
2         0.945651     282       10     3.5    4.033755
3         0.945651     282       16     4.0    4.033755
4         0.945651     282       25     4.0    4.033755
   similarityIndex  userId  movieId  rating  meanRating
0         0.765478      93        1     3.0     4.28866
1         0.765478      93        2     5.0     4.28866
2         0.765478      93       10     4.0     4.28866
3         0.765478      93       15     4.0     4.28866
4         0.765478      93       34     5.0     4.28866
   similarityIndex  userId  movieId  rating  meanRating
0         0.694616     200        1     3.5     3.80988
1         0.694616     200        5     4.0     3.80988
2         0.694616     200       10     4.5     3.80988
3         0.694616     200       19     3.5     3.80988
4         0.694616     200       34     2.5     3.80988

#### Now all we need to do is simply multiply the movie rating by its weight (the similarity index), then sum up the new ratings and divide it by the sum of the weights.

In [27]:
#Multiplyinh the similarity by the user's ratings
for i in range(len(topUsersRating)):
    topUsersRating[i]['weightedRating'] = topUsersRating[i]['similarityIndex']*(topUsersRating[i]['rating']-topUsersRating[i]['meanRating'])

# Print
for i in range(len(topUsersRating)):
    print(topUsersRating[i].head())

   similarityIndex  userId  movieId  rating  meanRating  weightedRating
0         0.945651     282        1     4.5    4.033755        0.440905
1         0.945651     282        6     4.0    4.033755       -0.031921
2         0.945651     282       10     3.5    4.033755       -0.504746
3         0.945651     282       16     4.0    4.033755       -0.031921
4         0.945651     282       25     4.0    4.033755       -0.031921
   similarityIndex  userId  movieId  rating  meanRating  weightedRating
0         0.765478      93        1     3.0     4.28866       -0.986441
1         0.765478      93        2     5.0     4.28866        0.544515
2         0.765478      93       10     4.0     4.28866       -0.220963
3         0.765478      93       15     4.0     4.28866       -0.220963
4         0.765478      93       34     5.0     4.28866        0.544515
   similarityIndex  userId  movieId  rating  meanRating  weightedRating
0         0.694616     200        1     3.5     3.80988       -0.215248
1         0.694616     200        5     4.0     3.80988        0.132060
2         0.694616     200       10     4.5     3.80988        0.479368
3         0.694616     200       19     3.5     3.80988       -0.215248
4         0.694616     200       34     2.5     3.80988       -0.909864

In [28]:

sumOfTopUsersWeightRating = []

for i in range(len(topUsersRating)):
    topUsersRating_temp = topUsersRating[i].groupby('movieId').sum()[['weightedRating']]
    topUsersRating_temp.columns = ['sum_weightedRatingScore']
    topUsersRating_temp['movieId'] = topUsersRating_temp.index
    
    sumOfTopUsersWeightRating.append(topUsersRating_temp)

# Inspecting...    
for i in range(len(sumOfTopUsersWeightRating)):  
    print(sumOfTopUsersWeightRating[i].head())

         sum_weightedRatingScore  movieId
movieId
1                       9.833063        1
2                       0.459007        2
3                      -0.301404        3
4                      -0.378737        4
5                      -2.416621        5
         sum_weightedRatingScore  movieId
movieId
1                      -3.430038        1
2                       0.409365        2
3                      -1.812607        3
4                      -0.256447        4
5                      -0.492905        5
         sum_weightedRatingScore  movieId
movieId
1                      -2.008994        1
2                       2.205751        2
3                      -1.482757        3
4                       0.354875        4
5                       2.249897        5

In [29]:
recommendation_df = []

for i in range(len(sumOfTopUsersWeightRating)):
    # Create an empty dataframe
    recommendation__temp_df = pd.DataFrame()
    
    # Now we take the weighted average
    meanRatings = inputMovies[i]['rating'].mean()
    recommendation__temp_df['weightedAverageRecommendationScore'] = meanRatings+(sumOfTopUsersWeightRating[i]['sum_weightedRatingScore']/topUsers[i]['similarityIndex'].sum())
    recommendation__temp_df['movieId'] = recommendation__temp_df.index
    
    # Removing the name of the index for future ambiguity
    recommendation__temp_df.index.name = None
    # Swaping Coumns
    titles = list(recommendation__temp_df)
    titles[0], titles[1] = titles[1], titles[0]
    recommendation__temp_df = recommendation__temp_df[titles]
    
    recommendation_df.append(recommendation__temp_df)

# Print
for i in range(len(recommendation_df)):    
    print(recommendation_df[i].head())

   movieId  weightedAverageRecommendationScore
1        1                            3.167984
2        2                            2.855310
3        3                            2.829947
4        4                            2.827367
5        5                            2.759393
   movieId  weightedAverageRecommendationScore
1        1                            3.005972
2        2                            3.680629
3        3                            3.290186
4        4                            3.563633
5        5                            3.522083
   movieId  weightedAverageRecommendationScore
1        1                            2.748157
2        2                            2.370580
3        3                            2.701014
4        4                            2.536390
5        5                            2.366625

#### Sorting and see the top 20 recommended movies

In [30]:
for i in range(len(recommendation_df)):
    recommendation_df[i] = recommendation_df[i].sort_values(by='weightedAverageRecommendationScore', ascending=False)
    recommendation_df[i] = recommendation_df[i].reset_index(drop=True)
    recommendation_df[i]['rank'] = recommendation_df[i].index
    
    print(recommendation_df[i].head(20))

    movieId  weightedAverageRecommendationScore  rank
0       296                            3.683337     0
1      2959                            3.628818     1
2       318                            3.608325     2
3      1196                            3.577789     3
4       356                            3.569874     4
5        50                            3.548545     5
6      2571                            3.516371     6
7     48516                            3.512260     7
8       260                            3.506657     8
9       858                            3.502398     9
10     2028                            3.494954    10
11     1197                            3.461974    11
12     2858                            3.423698    12
13       47                            3.409213    13
14     1136                            3.394028    14
15     1198                            3.391485    15
16      527                            3.377268    16
17     1221                            3.373737    17
18     3578                            3.360991    18
19     2329                            3.352000    19
    movieId  weightedAverageRecommendationScore  rank
0      2028                            4.936516     0
1      2628                            4.925712     1
2      1210                            4.742338     2
3       260                            4.735162     3
4      3578                            4.686289     4
5      6934                            4.625742     5
6      2571                            4.625165     6
7      1196                            4.613628     7
8      5378                            4.551882     8
9       296                            4.518566     9
10     3994                            4.487085    10
11     1923                            4.443678    11
12     6365                            4.439423    12
13     1198                            4.413992    13
14     1291                            4.361475    14
15     1200                            4.320994    15
16     1580                            4.307285    16
17     2959                            4.306878    17
18     1732                            4.284530    18
19      589                            4.267521    19
    movieId  weightedAverageRecommendationScore  rank
0       858                            3.504008     0
1       912                            3.454374     1
2      1136                            3.447509     2
3       608                            3.360358     3
4      2858                            3.346250     4
5        34                            3.250488     5
6      1221                            3.250486     6
7       750                            3.209790     7
8      1208                            3.185412     8
9       318                            3.180874     9
10      919                            3.178562    10
11     1219                            3.158877    11
12     1213                            3.157551    12
13     1206                            3.153766    13
14     1198                            3.147305    14
15      296                            3.144336    15
16     1230                            3.131047    16
17      527                            3.119600    17
18     1307                            3.102549    18
19     1247                            3.086421    19

In [31]:
# Top 20 Recommended Movies
for i in range(len(recommendation_df)):
    print("User :", i)
    print(movies_df.loc[movies_df['movieId'].isin(recommendation_df[i].head(20)['movieId'].tolist())])

User : 0
      movieId                                              title  year
43         47                               Seven (a.k.a. Se7en)  1995
46         50                                Usual Suspects, The  1995
224       260                 Star Wars: Episode IV - A New Hope  1977
257       296                                       Pulp Fiction  1994
277       318                          Shawshank Redemption, The  1994
314       356                                       Forrest Gump  1994
461       527                                   Schindler's List  1993
659       858                                     Godfather, The  1972
863      1136                    Monty Python and the Holy Grail  1975
898      1196     Star Wars: Episode V - The Empire Strikes Back  1980
899      1197                                Princess Bride, The  1987
900      1198  Raiders of the Lost Ark (Indiana Jones and the...  1981
922      1221                            Godfather: Part II, The  1974
1503     2028                                Saving Private Ryan  1998
1734     2329                                 American History X  1998
1939     2571                                        Matrix, The  1999
2145     2858                                    American Beauty  1999
2226     2959                                         Fight Club  1999
2674     3578                                          Gladiator  2000
6315    48516                                      Departed, The  2006
User : 1
      movieId                                              title  year
224       260                 Star Wars: Episode IV - A New Hope  1977
257       296                                       Pulp Fiction  1994
507       589                         Terminator 2: Judgment Day  1991
898      1196     Star Wars: Episode V - The Empire Strikes Back  1980
900      1198  Raiders of the Lost Ark (Indiana Jones and the...  1981
902      1200                                             Aliens  1986
911      1210         Star Wars: Episode VI - Return of the Jedi  1983
990      1291                 Indiana Jones and the Last Crusade  1989
1183     1580                          Men in Black (a.k.a. MIB)  1997
1298     1732                                  Big Lebowski, The  1998
1404     1923                       There's Something About Mary  1998
1503     2028                                Saving Private Ryan  1998
1939     2571                                        Matrix, The  1999
1979     2628          Star Wars: Episode I - The Phantom Menace  1999
2226     2959                                         Fight Club  1999
2674     3578                                          Gladiator  2000
2982     3994                                        Unbreakable  2000
3832     5378       Star Wars: Episode II - Attack of the Clones  2002
4351     6365                               Matrix Reloaded, The  2003
4639     6934                            Matrix Revolutions, The  2003
User : 2
      movieId                                              title  year
32         34                                               Babe  1995
257       296                                       Pulp Fiction  1994
277       318                          Shawshank Redemption, The  1994
461       527                                   Schindler's List  1993
520       608                                              Fargo  1996
602       750  Dr. Strangelove or: How I Learned to Stop Worr...  1964
659       858                                     Godfather, The  1972
694       912                                         Casablanca  1942
701       919                                  Wizard of Oz, The  1939
863      1136                    Monty Python and the Holy Grail  1975
900      1198  Raiders of the Lost Ark (Indiana Jones and the...  1981
907      1206                                Clockwork Orange, A  1971
909      1208                                     Apocalypse Now  1979
914      1213                                         Goodfellas  1990
920      1219                                             Psycho  1960
922      1221                            Godfather: Part II, The  1974
930      1230                                         Annie Hall  1977
946      1247                                      Graduate, The  1967
1005     1307                            When Harry Met Sally...  1989
2145     2858                                    American Beauty  1999

In [32]:
# Combining all users ratings by movieId
recommendation_df_group = reduce(lambda left,right: pd.merge(left,right,on='movieId'), recommendation_df)
recommendation_df_group.head(20)

,movieId,weightedAverageRecommendationScore_x,rank_x,weightedAverageRecommendationScore_y,rank_y,weightedAverageRecommendationScore,rank
0,296,3.683337,0,4.518566,9,3.144336,15
1,2959,3.628818,1,4.306878,17,2.884375,77
2,318,3.608325,2,3.875708,119,3.180874,9
3,1196,3.577789,3,4.613628,7,2.917234,61
4,356,3.569874,4,3.762246,334,2.709158,249
5,50,3.548545,5,3.923615,83,2.944849,51
6,2571,3.516371,6,4.625165,6,2.837294,98
7,48516,3.512260,7,3.984167,58,2.641640,667
8,260,3.506657,8,4.735162,3,2.724278,217
9,858,3.502398,9,4.200456,25,3.504008,0
10,2028,3.494954,10,4.936516,0,2.792171,128
11,1197,3.461974,11,4.149650,29,2.809142,115
12,2858,3.423698,12,3.855983,144,3.346250,4
13,47,3.409213,13,4.226532,22,2.967905,42
14,1136,3.394028,14,3.928674,78,3.447509,2
15,1198,3.391485,15,4.413992,13,3.147305,14
16,527,3.377268,16,4.082880,36,3.119600,17
17,1221,3.373737,17,3.754803,363,3.250486,6
18,3578,3.360991,18,4.686289,4,2.304362,8550
19,2329,3.352000,19,3.904189,96,2.834215,100

## First aggregation approach (The average method)

In [33]:
# Calculate averaging score and sorting the data
recommendation_df_average_method = recommendation_df_group.copy(deep = False)
recommendation_df_average_method['AverageGroupRecommendationScore']= recommendation_df_average_method[['weightedAverageRecommendationScore_x', 'weightedAverageRecommendationScore_y', 'weightedAverageRecommendationScore']].mean(axis=1)
recommendation_df_average_method = recommendation_df_average_method.sort_values(by=['AverageGroupRecommendationScore'], ascending=False)

recommendation_df_average_method = recommendation_df_average_method.reset_index(drop=True)
recommendation_df_average_method['final_rank'] = recommendation_df_average_method.index

recommendation_df_average_method.head(20)

,movieId,weightedAverageRecommendationScore_x,rank_x,weightedAverageRecommendationScore_y,rank_y,weightedAverageRecommendationScore,rank,AverageGroupRecommendationScore,final_rank
0,296,3.683337,0,4.518566,9,3.144336,15,3.782080,0
1,2028,3.494954,10,4.936516,0,2.792171,128,3.741214,1
2,858,3.502398,9,4.200456,25,3.504008,0,3.735621,2
3,1196,3.577789,3,4.613628,7,2.917234,61,3.702884,3
4,2571,3.516371,6,4.625165,6,2.837294,98,3.659610,4
5,260,3.506657,8,4.735162,3,2.724278,217,3.655366,5
6,1198,3.391485,15,4.413992,13,3.147305,14,3.650928,6
7,2959,3.628818,1,4.306878,17,2.884375,77,3.606690,7
8,1136,3.394028,14,3.928674,78,3.447509,2,3.590070,8
9,318,3.608325,2,3.875708,119,3.180874,9,3.554969,9
10,2858,3.423698,12,3.855983,144,3.346250,4,3.541977,10
11,47,3.409213,13,4.226532,22,2.967905,42,3.534550,11
12,527,3.377268,16,4.082880,36,3.119600,17,3.526583,12
13,7153,3.218363,39,4.217060,24,3.069011,23,3.501478,13
14,1291,3.219639,38,4.361475,14,2.897187,69,3.492767,14
15,32,3.234177,35,4.217539,23,3.004796,34,3.485504,15
16,608,3.210705,41,3.871212,125,3.360358,3,3.480758,16
17,1197,3.461974,11,4.149650,29,2.809142,115,3.473589,17
18,50,3.548545,5,3.923615,83,2.944849,51,3.472336,18
19,1210,3.337745,21,4.742338,2,2.325765,8530,3.468616,19

In [34]:
##  The 20 movies with the highest prediction scores that (i) the average method suggests

In [35]:
movies_df.loc[movies_df['movieId'].isin(recommendation_df_average_method.head(20)['movieId'].tolist())]

      movieId                                              title  year
31         32                 Twelve Monkeys (a.k.a. 12 Monkeys)  1995
43         47                               Seven (a.k.a. Se7en)  1995
46         50                                Usual Suspects, The  1995
224       260                 Star Wars: Episode IV - A New Hope  1977
257       296                                       Pulp Fiction  1994
277       318                          Shawshank Redemption, The  1994
461       527                                   Schindler's List  1993
520       608                                              Fargo  1996
659       858                                     Godfather, The  1972
863      1136                    Monty Python and the Holy Grail  1975
898      1196     Star Wars: Episode V - The Empire Strikes Back  1980
899      1197                                Princess Bride, The  1987
900      1198  Raiders of the Lost Ark (Indiana Jones and the...  1981
911      1210         Star Wars: Episode VI - Return of the Jedi  1983
990      1291                 Indiana Jones and the Last Crusade  1989
1503     2028                                Saving Private Ryan  1998
1939     2571                                        Matrix, The  1999
2145     2858                                    American Beauty  1999
2226     2959                                         Fight Club  1999
4800     7153     Lord of the Rings: The Return of the King, The  2003

## The second aggregation method  (The least misery method)

In [36]:
# Calculating least misery score and sorting the data
recommendation_df_leastMisery_method = recommendation_df_group.copy(deep = False)
recommendation_df_leastMisery_method['MinimumGroupRecommendationScore']= recommendation_df_leastMisery_method[['weightedAverageRecommendationScore_x', 'weightedAverageRecommendationScore_y', 'weightedAverageRecommendationScore']].min(axis=1)
recommendation_df_leastMisery_method = recommendation_df_leastMisery_method.sort_values(by=['MinimumGroupRecommendationScore'], ascending=False)

recommendation_df_leastMisery_method= recommendation_df_leastMisery_method.reset_index(drop=True)
recommendation_df_leastMisery_method['final_rank'] = recommendation_df_leastMisery_method.index

recommendation_df_leastMisery_method.head(20)

,movieId,weightedAverageRecommendationScore_x,rank_x,weightedAverageRecommendationScore_y,rank_y,weightedAverageRecommendationScore,rank,MinimumGroupRecommendationScore,final_rank
0,858,3.502398,9,4.200456,25,3.504008,0,3.502398,0
1,1136,3.394028,14,3.928674,78,3.447509,2,3.394028,1
2,2858,3.423698,12,3.855983,144,3.346250,4,3.346250,2
3,1221,3.373737,17,3.754803,363,3.250486,6,3.250486,3
4,608,3.210705,41,3.871212,125,3.360358,3,3.210705,4
5,750,3.221935,37,3.650648,1468,3.209790,7,3.209790,5
6,318,3.608325,2,3.875708,119,3.180874,9,3.180874,6
7,1213,3.319685,22,3.645411,1588,3.157551,12,3.157551,7
8,1198,3.391485,15,4.413992,13,3.147305,14,3.147305,8
9,296,3.683337,0,4.518566,9,3.144336,15,3.144336,9
10,527,3.377268,16,4.082880,36,3.119600,17,3.119600,10
11,1208,3.088164,87,3.915111,87,3.185412,8,3.088164,11
12,593,3.305750,24,3.812911,203,3.082313,20,3.082313,12
13,4226,3.319658,23,3.858336,140,3.077311,22,3.077311,13
14,7153,3.218363,39,4.217060,24,3.069011,23,3.069011,14
15,904,3.046493,114,3.382575,8195,3.045317,26,3.045317,15
16,1206,3.030932,129,4.042459,42,3.153766,13,3.030932,16
17,1203,3.079648,90,3.264516,8309,3.024216,27,3.024216,17
18,4993,3.298436,25,4.049035,41,3.017461,28,3.017461,18
19,1089,3.347181,20,4.015381,52,3.017353,29,3.017353,19

##  The 20 movies with the highest prediction scores that (ii) the least misery method suggests

In [37]:
movies_df.loc[movies_df['movieId'].isin(recommendation_df_leastMisery_method.head(20)['movieId'].tolist())]

      movieId                                              title  year
257       296                                       Pulp Fiction  1994
277       318                          Shawshank Redemption, The  1994
461       527                                   Schindler's List  1993
510       593                          Silence of the Lambs, The  1991
520       608                                              Fargo  1996
602       750  Dr. Strangelove or: How I Learned to Stop Worr...  1964
659       858                                     Godfather, The  1972
686       904                                        Rear Window  1954
828      1089                                     Reservoir Dogs  1992
863      1136                    Monty Python and the Holy Grail  1975
900      1198  Raiders of the Lost Ark (Indiana Jones and the...  1981
905      1203                                       12 Angry Men  1957
907      1206                                Clockwork Orange, A  1971
909      1208                                     Apocalypse Now  1979
914      1213                                         Goodfellas  1990
922      1221                            Godfather: Part II, The  1974
2145     2858                                    American Beauty  1999
3141     4226                                            Memento  2000
3638     4993  Lord of the Rings: The Fellowship of the Ring,...  2001
4800     7153     Lord of the Rings: The Return of the King, The  2003

# Part B
### Proposed method:
* Most pleasure strategy. It works as the least misery strategy, but instead of considering for an item the smallest ratings of the users, it selects the greatest ones. It belongs to the Borderline strategies method. Below is an example: 
| Name     | item 1 | item 2    |
| :---        |    :----:   |          ---: |
| Md      | 3       | 5  |
| Maruf   | 2        | 8      |
| Rayhan   | 7        | 7      |

Considers the maximum rating of an item. Group rating for  item will be 8 since it’s the largest amongst(5,8,7)

In [38]:
# Calculating Max score and sorting the data
recommendation_df_max_method = recommendation_df_group.copy(deep = False)
recommendation_df_max_method['MaxGroupRecommendationScore']= recommendation_df_max_method[['weightedAverageRecommendationScore_x', 'weightedAverageRecommendationScore_y', 'weightedAverageRecommendationScore']].max(axis=1)
recommendation_df_max_method = recommendation_df_max_method.sort_values(by=['MaxGroupRecommendationScore'], ascending=False)

recommendation_df_max_method = recommendation_df_max_method.reset_index(drop=True)
recommendation_df_max_method['final_rank'] = recommendation_df_max_method.index

recommendation_df_average_method.tail(20)

,movieId,weightedAverageRecommendationScore_x,rank_x,weightedAverageRecommendationScore_y,rank_y,weightedAverageRecommendationScore,rank,AverageGroupRecommendationScore,final_rank
8020,3243,2.617693,8430,3.048643,8350,2.501269,7824,2.722535,8020
8021,2643,2.664365,8386,3.197344,8330,2.304356,8551,2.722022,8021
8022,648,2.692977,8339,3.482611,7883,1.966494,8616,2.714028,8022
8023,2082,2.625769,8424,3.039203,8353,2.459381,8202,2.708118,8023
8024,1690,2.638521,8415,3.147909,8338,2.336203,8521,2.707544,8024
8025,1499,2.493522,8475,3.291684,8293,2.324299,8532,2.703168,8025
8026,2384,2.791128,7670,2.784776,8361,2.520473,7493,2.698792,8026
8027,762,2.601438,8442,3.275220,8303,2.219281,8591,2.698646,8027
8028,466,2.561534,8461,3.120478,8343,2.405488,8404,2.695833,8028
8029,420,2.636150,8417,3.378364,8203,2.027046,8612,2.680520,8029
8030,344,2.719712,8271,3.469066,7949,1.826142,8617,2.671640,8030
8031,1882,2.496533,8473,3.274913,8304,2.138969,8605,2.636805,8031
8032,736,2.403654,8484,3.177668,8333,2.226382,8589,2.602568,8032
8033,1377,2.638148,8416,2.719958,8362,2.424822,8349,2.594310,8033
8034,158,2.464740,8479,2.830722,8360,2.386069,8456,2.560510,8034
8035,673,2.344569,8485,3.216114,8322,2.120041,8608,2.560241,8035
8036,1544,2.407751,8483,3.218252,8321,2.023074,8613,2.549692,8036
8037,153,2.557755,8463,2.868209,8359,2.213065,8596,2.546343,8037
8038,586,2.495729,8474,2.887434,8357,2.254253,8579,2.545805,8038
8039,1562,2.492092,8476,2.592836,8363,2.211259,8597,2.432062,8039

In [39]:
recommendation_df_disagreement_max = pd.DataFrame()

weights_x = abs(recommendation_df_max_method['weightedAverageRecommendationScore_x']-recommendation_df_max_method['MaxGroupRecommendationScore'])
weights_y = abs(recommendation_df_max_method['weightedAverageRecommendationScore_y']-recommendation_df_max_method['MaxGroupRecommendationScore'])
weights = abs(recommendation_df_max_method['weightedAverageRecommendationScore']-recommendation_df_max_method['MaxGroupRecommendationScore'])


for i in range(len(recommendation_df_max_method)):
    if (weights_x[i] <=3.5 and weights_y[i] <=3.5 and weights[i] <=3.5):
        recommendation_df_disagreement_max=recommendation_df_disagreement_max.append(recommendation_df_max_method.loc[i], ignore_index=True)

recommendation_df_disagreement_max.head(20)

C:\Users\HP\AppData\Local\Temp\ipykernel_17612\3955060406.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  recommendation_df_disagreement_max=recommendation_df_disagreement_max.append(recommendation_df_max_method.loc[i], ignore_index=True)

,movieId,weightedAverageRecommendationScore_x,rank_x,weightedAverageRecommendationScore_y,rank_y,weightedAverageRecommendationScore,rank,MaxGroupRecommendationScore,final_rank
0,2028.0,3.494954,10.0,4.936516,0.0,2.792171,128.0,4.936516,0.0
1,2628.0,2.666014,8382.0,4.925712,1.0,2.039024,8611.0,4.925712,1.0
2,1210.0,3.337745,21.0,4.742338,2.0,2.325765,8530.0,4.742338,2.0
3,260.0,3.506657,8.0,4.735162,3.0,2.724278,217.0,4.735162,3.0
4,3578.0,3.360991,18.0,4.686289,4.0,2.304362,8550.0,4.686289,4.0
5,6934.0,2.649415,8405.0,4.625742,5.0,2.469484,8141.0,4.625742,5.0
6,2571.0,3.516371,6.0,4.625165,6.0,2.837294,98.0,4.625165,6.0
7,1196.0,3.577789,3.0,4.613628,7.0,2.917234,61.0,4.613628,7.0
8,5378.0,2.733336,8228.0,4.551882,8.0,2.480560,8044.0,4.551882,8.0
9,296.0,3.683337,0.0,4.518566,9.0,3.144336,15.0,4.518566,9.0
10,3994.0,3.110561,74.0,4.487085,10.0,2.755095,170.0,4.487085,10.0
11,1923.0,2.905059,494.0,4.443678,11.0,2.896754,70.0,4.443678,11.0
12,6365.0,2.719895,8270.0,4.439423,12.0,2.238932,8583.0,4.439423,12.0
13,1198.0,3.391485,15.0,4.413992,13.0,3.147305,14.0,4.413992,13.0
14,1291.0,3.219639,38.0,4.361475,14.0,2.897187,69.0,4.361475,14.0
15,1200.0,3.183892,52.0,4.320994,15.0,2.858931,88.0,4.320994,15.0
16,1580.0,2.885436,712.0,4.307285,16.0,2.528534,7294.0,4.307285,16.0
17,2959.0,3.628818,1.0,4.306878,17.0,2.884375,77.0,4.306878,17.0
18,1732.0,3.151683,64.0,4.284530,18.0,2.605630,1282.0,4.284530,18.0
19,589.0,3.168267,58.0,4.267521,19.0,2.704697,265.0,4.267521,19.0

# Top 20 Recommended Movies after considering disagrement

In [40]:
movies_df.loc[movies_df['movieId'].isin(recommendation_df_disagreement_max.head(20)['movieId'].tolist())]

      movieId                                              title  year
224       260                 Star Wars: Episode IV - A New Hope  1977
257       296                                       Pulp Fiction  1994
507       589                         Terminator 2: Judgment Day  1991
898      1196     Star Wars: Episode V - The Empire Strikes Back  1980
900      1198  Raiders of the Lost Ark (Indiana Jones and the...  1981
902      1200                                             Aliens  1986
911      1210         Star Wars: Episode VI - Return of the Jedi  1983
990      1291                 Indiana Jones and the Last Crusade  1989
1183     1580                          Men in Black (a.k.a. MIB)  1997
1298     1732                                  Big Lebowski, The  1998
1404     1923                       There's Something About Mary  1998
1503     2028                                Saving Private Ryan  1998
1939     2571                                        Matrix, The  1999
1979     2628          Star Wars: Episode I - The Phantom Menace  1999
2226     2959                                         Fight Club  1999
2674     3578                                          Gladiator  2000
2982     3994                                        Unbreakable  2000
3832     5378       Star Wars: Episode II - Attack of the Clones  2002
4351     6365                               Matrix Reloaded, The  2003
4639     6934                            Matrix Revolutions, The  2003